<launch>

<node pkg="tf" type="static_transform_publisher" name="base_link_to_sonar" args="0.12 0 0 0 0 0 base_link ultrasound 30" />
<node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="0.10 0.13 0 0 0 0 base_link imu 30" />
<node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0.15 0 0 0 base_footprint base_link 30" />
<node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 30" />

<node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
  <param name="port" value="/dev/ttyUSB0" />
  <param name="baud" value="115200" />
</node>

<node pkg="localization_data_pub" type="ekf_odom_pub" name="ekf_odom_pub">
</node> 

<node ns="imu" name="imu_node" pkg="imu_bno055" type="bno055_i2c_node" respawn="true" respawn_delay="2">
  <param name="device" type="string" value="/dev/i2c-1" />
  <param name="address" type="int" value="40" />
  <param name="frame_id" type="string" value="imu" />
</node>

<node pkg="rviz" type="rviz" name="rviz" args="-d /home/ubuntu/catkin_ws/src/kachow/rviz/kachow_mapping_v2.rviz">
</node>
 
<node pkg="localization_data_pub" type="rviz_click_to_2d" name="rviz_click_to_2d">
</node>

<arg name="map_file" default="$(find kachow)/maps/test_map_v2.yaml" />
<node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />

</launch>
