<launch>
  <node pkg="rviz" type="rviz" name="rviz" args="-d /home/ubuntu/catkin_ws/src/kachow/rviz/kachow_mapping.rviz" />

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <rosparam>
      base_frame: base_link
      odom_frame: odom
      map_update_interval: 0.3
      maxUrange: 0.6
      maxRange: 0.65
      sigma: 0.05 <!-- 0.47 -->
      kernelSize: 1
      lstep: 0.05
      astep: 0.05
      iterations: 5
      lsigma: 0.075
      ogain: 3.0
      lskip: 0
      minimumScore: 100
      linearUpdate: 0.025 <!-- 0.05 -->
      angularUpdate: 0.01745 <!-- 0.0436 -->
      temporalUpdate: -1.0
      resampleThreshold: 0.5 
      particles: 30
      xmin: -0.1
      ymin: -0.1
      xmax: 0.1
      ymax: 0.1
      delta: 0.05 <!-- 0.025 -->
      llsamplerange: 0.01
      llsamplestep: 0.01
      lasamplerange: 0.005
      lasamplestep: 0.005
      transform_publish_period: 0.5
    </rosparam>
  </node>
</launch>
